* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    color-scheme: light dark;
    color:#10232f;
    background-color: #18ACFE;
    min-height: 100%;
}

header {
    background: #18ACFE;
    color: #10232f;
    text-align: center;
    flex-grow: 0;
    margin-bottom: 2em;
}

h1 {
    font-weight: 300;
    padding: 0.4em 0;
}

#root {
    min-height: 100vh;
}

.video {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    background:#18ACFE;
    flex-grow: 1;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

h2 {
    font-weight: 300;
    margin-bottom: 1em;
    text-align: center;
}

form>div {
    width: 100%;
    margin-bottom: 1em;
}

form>div>label {
    display: block;
    margin-bottom: 0.3em;
}

form>div>input {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 0.4em;
    border-radius: 6px;
    border: 1px solid #10232f;
}

button {
    background: #10232f;
    color: #fff;
    font-size: 16px;
    padding: 0.4em;
    border-radius: 6px;
    border: 1px solid transparent;
}

button:hover {
    filter: brightness(150%);
}

